@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.MainDivHeader{
    display: flex;
    justify-content: center;
    width: 100%;
}
.Header{
    width: 1400px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    position: relative;
}
.divForSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40px;
    margin-left: 10px;
}
.divForSelect button{
    width: 70px;
    height: 25px;
    margin-top: 34px;
    margin-left: 10px;
    border-radius: 10px;
    border: 0 solid gray;
    box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.75);
    transition: 500ms;
}
.divForSelect button:hover{
    width: 70px;
    height: 30px;
    transition: 500ms;
}
.formForSearch{
    width: 330px;
    height: 38px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 115px;
}
.formForSearch button{
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .1s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    margin-left: 72px;
}
.input{
    border: none;
    margin-left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
.input:focus{
    outline: none;
    background: rgba(0, 0, 23, 0);
}
.Select{
    width: 170px;
    height: 30px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding-left: 10px;
}
.LinkToMain{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: -445px;
}
.link{
    color: white;
    text-decoration: none;
    transition: 300ms;
}
.link:hover{
    color: gray;
}
.NImage{
    height: 125px;
    position: absolute;
    right: 1200px;
    top: -30px;
    z-index: -1;
}


