@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.MainDivHeader{
    display: flex;
    justify-content: center;
    width: 100%;
}
.Header{
    width: 80vw;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.divForSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40px;
}
.divForSelect p{
    margin-bottom: 0;
    font-family: "Outfit", serif;
}
.withoutButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divForSelect button{
    width: 70px;
    height: 25px;
    margin-top: 34px;
    margin-left: 10px;
    border-radius: 10px;
    border: 0 solid gray;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    transition: 500ms;
}
.divForSelect button:hover{
    width: 70px;
    height: 30px;
    transition: 500ms;
}
#searchGenges{
    width: 150px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid gray;

}
.formForSearch{
    margin-top: 17px;
    width: 230px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.formForSearch button{
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;

    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .1s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin-left: -4px;

}
.input{
    border: none;
    margin-left: 10px;
}
.input:focus{
    outline: none;
}
.Select{
    width: 150px;
    border-radius: 20px;
}