@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.MainDivHeader{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.Header{
    width: 80vw;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.divForSelect{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
}
.divForSelect p{
    margin-bottom: 0;
    font-family: "Outfit", serif;
}
.withoutButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divForSelect button{
    width: 70px;
    height: 25px;
    margin-top: 34px;
    margin-left: 10px;
    border-radius: 10px;
    border: 0 solid gray;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    transition: 500ms;
}
.divForSelect button:hover{
    width: 70px;
    height: 30px;
    transition: 500ms;
}
#searchGenges{
    width: 150px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid gray;

}
.formForSearch{
    margin-top: 17px;
    width: 230px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.input{
    border: none;
}
.input:focus{
    outline: none;
}