@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.Card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
}
.Card p{
    font-family: "Montserrat",sans-serif;
    margin-top: 3px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
