@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #000017;
    color:white;
}
.hrAfterHeader{
    width: 1330px;
}
.MainDivHomePage{
    display: flex;
    justify-content: center;
}
.HomeMainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.HomeMainDiv p{
    font-family: "Montserrat", serif;
    font-size: 20px;
    margin-top: 10px;
}
.HomeMainDiv h3{
    font-family: "Montserrat", serif;
}
.MainMovieInfoPage{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.ButtonBack{
    color: white;
}
.LinkBack{
    position: absolute;
    margin-right: 1238px;
    z-index: 1;
}