@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    margin: 0;
    padding: 0;
}
.hrAfterHeader{
    width: 1300px;
}
.MainDivHomePage{
    display: flex;
    justify-content: center;
}
.HomeMainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.HomeMainDiv h3{
    font-family: "Outfit", serif;

}