@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #000017;
    color:white;
}
.hrAfterHeader{
    width: 1330px;
}
.MainDivHomePage{
    display: flex;
    justify-content: center;
}
.HomeMainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.HomeMainDiv p{
    font-family: "Montserrat", serif;
    font-size: 20px;
    margin-top: 10px;

}