.MainListDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.MainDivCards{
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    text-decoration: none;
}
.CardsOfMovies{
    width: 200px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 500ms;
    margin-bottom: 70px;

}
.CardsOfMovies:hover{
    width: 245px;
    height: 335px;
}
.Link{
    text-decoration: none;
}